@font-face 
{
	font-family: font;
	src: url(Pacifico-Regular.ttf);
}
  
html, 
body, 
main 
{
	height: 100%;
	width: 100%;
	position: relative;
}

body 
{
	overflow: hidden;
	--color_content_title: #ffffff;
    background-image: url("./bg.png");
	background-position: center;
	background-size: cover;
}

img
{
	border-radius: 50%;
}

.avatar
{
	position: relative;
	display: flex;
  	align-items: center;
	left: 50px;
}

.content
{
	left: 50px;
	font-family: font;
	font-weight: 350;
	font-size: 2vw;
	color: var(--color_content_title);
}

.content_title
{
	display: flex;
	justify-content: center;
	font-family: font;
	font-weight: 350;
	font-size: 4vw;
	color: var(--color_content_title);
}