body 
{
	overflow-x: hidden;
    background-color: #36393f;
    font-family: "JetBrains Mono", monospace;
    color: #cdd6f4;
}

a
{
    color: #cdd6f4;
    text-decoration-color: #89b4fa;
}

.content
{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
}

.title
{
    font-weight: bold;
    font-size: 32px;
}

.title_s
{
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 1000px)
{
    .content
    {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }

    .title
    {
        font-size: 24px;
    }

    .title_s
    {
        font-size: 20px;
    }
}