body 
{
	overflow-x: auto;
	overflow-y: auto;
    background-image: url("./content/assets/main/background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #36393f;
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
}

a
{
    color: #ffffff;
    text-decoration-color: #89b4fa;
}

.content
{
    padding-left: 50px;
    padding-right: 50px;
}

.title
{
    font-size: 32px;
    font-weight: bold;
}

.description
{
    font-size: 24px;
    font-weight: bold;
}

.blog
{
    font-size: 24px;
}

@media screen and (max-width: 1000px)
{
    .content
    {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 16px;
    }

    .title
    {
        font-size: 24px;
    }

    .description
    {
        font-size: 16px;
    }

    .blog
    {
        font-size: 16px;
    }
}