@font-face 
{
    font-family: font;
    src: url(./blogs/src/Pacifico-Regular.ttf);
}


body 
{
	overflow: hidden;
    background-image: url("./blogs/src/media/background.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
}

a
{
    color: #ffffff;
}

.content
{
    padding-left: 50px;
    padding-right: 50px;
    font-family: font;
    font-size: 32px;
    color: #ffffff;
}

.title
{
    padding-left: 25px;
}

.title_blog
{
    font-size: 32px;
    transition: all 250ms;
}

.title_blog:hover
{
	font-size: 40px;
 	font-size-adjust: 20px;
}

.information
{
	position: fixed;
    bottom: 0;
    right: 10px;
    text-align: center;
    font-family: font;
    font-size: 24px;
	color: #ffffff;
    transition: all 250ms;
}

.information:hover
{
    font-size: 32px;
    font-size-adjust: 20px;
}

@media screen and (max-width: 1000px)
{
    .title
    {
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }

    .content
    {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 24px;
    }

    .title_blog
    {
        font-size: 24px;
    }
}