body 
{
	overflow: hidden;
    background-image: url("./background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
}

a
{
    color: #000000;
    transition: all 250ms;
}

a:hover
{
    font-size: 32px;
    font-size-adjust: 20px;
}

.content
{
    padding-left: 50px;
    padding-right: 50px;
    font-family: "JetBrains Mono", "Inter", sans-serif;
    font-size: 24px;
    color: #000000;
}

.title
{
    padding-left: 50px;
    font-size: 40px;
    font-family: "JetBrains Mono", "Inter", sans-serif;
    color: #000000;
}

.information
{
	position: fixed;
    bottom: 0;
    left: 85%;
    font-family: "JetBrains Mono", "Inter", sans-serif;
    font-size: 24px;
	color: #000000;
}

@media screen and (max-width: 1000px)
{
    .content
    {
        padding-left: 25px;
        padding-right: 25px;
    }

    .title
    {
        padding-left: 25px;
    }

    .information
    {
        left: 60%;
    }   
}