body
{
    overflow: hidden;
    background-image: url("./background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content
{
    font-size: 48px;
}

#vid
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#footer
{
	position: fixed;
	text-align: center;
    bottom: 0;
	right: 10px;
	font-size: 24px;
    color: #ffffff;
    transition: all 250ms;
}

#footer:hover
{
	font-size: 32px;
 	font-size-adjust: 20px;
}

@media screen and (max-width: 1000px)
{
    #content
    {
        font-size: 64px;
    }   
    
    #vid
    {
        width: 85%;
    }

    #footer
    {
        font-size: 32px;
    }
}